.img-carousel-slide {
  height: auto;
}
.img-carousel-content {
  height: 90vw;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}

@media screen and (min-width: 576px) {
  .img-carousel-content {
    height: 70vw;
  }
}

@media screen and (min-width: 768px) {
  .img-carousel-content {
    height: 55vw;
  }
}

@media screen and (min-width: 992px) {
  .img-carousel-content {
    height: 50vw;
  }
}

@media screen and (min-width: 1200px) {
  .img-carousel-content {
    height: 40vw;
  }
}
